body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    min-width: 900px;
}
a {
    text-decoration: none;
    color: black;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 8px 25px;
}

.navbar_logo {
    font-size: 50px;
    color: white;
}
.navbar_logo a{
    color: white;
}
.navbar_logo i {
    color : rosybrown;
}
.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;

}
.navbar_menu li {
    font-size: 16px;
    padding: 13px 12px;
}
.navbar_menu li a{
    color: white;
}
.navbar_menu li:hover {
    background-color: rosybrown;
    border-radius: 10px;
}

.navbar_menu li:hover .menu-sub {
    opacity: 1;
    pointer-events: auto;
    display: inherit;
}


.menu-sub {
    color: black;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    padding-left: 0;
    list-style: none;
    background-color: white;
    white-space: nowrap;
    position: absolute;
    transform: translate(-13px,13px);
    border-radius: 10px;
    opacity: 0;
    transition: all .4s;
    display: none;
}
.menu-sub li a {
    color: black;
}
.products {
    text-align: center;

}
.products img {
    border: 1px solid black;
    margin: 40px;
}



<!-- pointer-events 는 IE에서 호환이 안된다 -->
<!-- menusub 한줄로 표시됨 -->
<!-- #add8e6 #a1d1e1 -->
<!-- navbar 가로, 사이에 공백, 수직적으로 평형, 페딩 위아래 양옆  -->